:root {
  --primary-color: #fb7413;
  --very-light-color: #ffffff;
  --light-color: #959eac;
  --medium-color: hsl(216, 12%, 55%, 0.2);
  --dark-color: #252d37;
  --very-dark-color: #121417;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 24px;
  min-height: 100vh;
  font-family: "Overpass", sans-serif;
  background-color: var(--very-dark-color);
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 410px;
  height: 360px;
  border-radius: 16px;
  background-color: var(--dark-color);
}

section {
  display: grid;
  align-content: center;
  gap: 30px;
  width: 85%;
}

/* section rating-state */

.rating-state__top {
  display: grid;
  gap: 20px;
}

.circle {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--medium-color);
}

.img-container {
  align-items: center;
}

.rating-state__top-text {
  display: grid;
  gap: 12px;
}

h1 {
  font-size: 24px;
  color: var(--very-light-color);
}

p {
  font-size: 14px;
  line-height: 1.5em;
  color: var(--light-color);
}

.rating-state__bottom {
  display: grid;
  gap: 24px;
}

.ratingContainer {
  display: flex;
  justify-content: space-between;
}

.rating {
  padding: 12px;
  color: var(--light-color);
}

.rating:hover {
  color: var(--very-light-color);
  background-color: var(--primary-color);
  cursor: pointer;
}

.checked {
  color: var(--very-light-color);
  background-color: var(--light-color);
}

button {
  height: 44px;
  border-style: none;
  border-radius: 24px;
  font-weight: 600;
  font-family: "Overpass", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--very-light-color);
  background-color: var(--primary-color);
}

button:hover {
  color: var(--primary-color);
  background-color: var(--very-light-color);
  cursor: pointer;
}

/* section thankYou-state */
.thankYou-state {
  display: grid;
  place-items: center;
  gap: 28px;
  text-align: center;
}

.thankYou-state img {
  width: 146px;
}

.thankYou__top__text {
  width: 170px;
  height: 30px;
  padding: 7px;
  border-radius: 20px;
  font-size: 14px;
  color: var(--primary-color);
  background-color: var(--medium-color);
}

.thanksContainer h1 {
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

/* footer */
.attribution {
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  font-size: 11px;
  text-align: center;
  color: var(--very-light-color);
}

.attribution a {
  color: var(--primary-color);
}

@media (min-width: 425px) {
  main {
    height: 416px;
    border-radius: 24px;
  }

  /* section rating-state */
  .circle {
    width: 48px;
    height: 48px;
  }

  .rating-state__top {
    gap: 32px;
  }

  .rating-state__top-text {
    gap: 8px;
  }

  h1 {
    font-size: 1.8rem;
  }

  p {
    font-size: 15px;
    line-height: 24px;
  }

  .rating {
    padding: 15px;
  }

  .rating-state__bottom {
    gap: 32px;
    max-width: 340px;
  }

  /* section thankYou-state */
  .thankYou-state {
    gap: 32px;
  }

  .thankYou-state img {
    width: 162px;
  }

  .thankYou__top__text {
    width: 190px;
    font-size: 15px;
  }

  .thanksContainer {
    max-width: 340px;
  }
}
